body {
  background-attachment: fixed;
  webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  padding-top: 30px;
}

.main-logo {
  padding: 20px;
  margin-bottom: 20px;
}

.main-logo img {
  width: 200px;
}

@media (max-width: 1024px) {
  .main-logo img {
    width: 150px;
  }
}

@media (max-width: 768px) {
  .main-logo img {
    width: 100px;
  }
}

.background-opacity {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: .3;
  background: black;
  z-index: -1;
}

.panel.panel-form,
.panel.panel-form .panel-heading {
  background-color: rgba(255, 255, 255, 0.85);
  border: none;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}


.top-right2 {
  position: absolute;
  right: 120px;
  top: 18px;
}



.links > a {
  color: #fff;
  padding: 0 15px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.embed-youtube {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.embed-youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}